body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #ffffff;
    color: #333;
}


h1, h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

p {
    color: #555;
    margin-bottom: 20px;
}

#imgcentrada{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

audio {
    width: 100%;
}

